body{background-color:rgb(51, 133, 255);}

header {
    width:1000px;
    margin:auto;
	background-color:rgb(51, 133, 255);
}
.body2{
    min-height:845px;
	width:1000px;
	margin:auto;
	padding:2px;
    border-radius:10px 10px 0 0;
	background-color:#fff;
}

.body2 ul {
    list-style-type: none;
	background-color:rgb(255, 51, 51);
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius:10px 10px 0 0;
	width:1000px;
}

.body2 li {
	float:left;
	border-right:1px solid #fff;
}

.body2 li a{
	color:white;
	text-align:center;
	display:block; 
	padding:7px;
	text-decoration:none;
}

.body2 li a:hover:not(.active) {
    background-color: rgb(179, 0, 0);
}

#block1 {
    width:479px;
	float:left;
	padding:10px;
	border-right:1px solid rgb(255, 204, 0);
}

#block2 {
    width:470px;
    float:right;
    padding:10px;
}
input{
	float:right;
	width:320px;
}
.button input{
	width:100px;
	color:#fff;
	background-color:rgb(255, 51, 51);
	text-decoration:none;
	
}
select{
	float:right;
	width:100px;
}